<div>
    <h1 style="text-align: center;">Component Registration</h1>
    <form
    [formGroup]="componentRegistration"
    style="margin-bottom: 5rem"
    class="mt-3"
    (ngSubmit)="save()"
    >
        <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label for="exampleInputEmail1">Component: </label>
                <textarea class="form-control" formControlName="component" id="component" rows="3"></textarea>
            </div>
            <div style="text-align: center;">   
                <button class="btn botao mt-3 ">
                    <span class="spn">Save</span>
                </button>
            </div>
        </div>
    </form>

    <div class="p-3 mb-2 bg-white text-black">
      Choose a component and save!! <a target="_blank" href="https://getbootstrap.com/docs/4.6/utilities/colors/?">Link:</a> 
    </div>
    <br><br>

    <table class="table table-striped" style="color: white !important;">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Component</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of componentsList">
            <td>{{ c.id }}</td>
            <td [innerHtml]="c.component"></td>
            <td>
                <button (click)="deleteById(c.id)" class="btnDelete" style="border-color: transparent; background-color: transparent;">
                    <i style="color:white" class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
</div>