/* You can add global styles to this file, and also import other style files */

@import "~angular-notifier/styles.css";

body {
    background-color: #BF40BF !important;
    margin-bottom: 5rem;
}

h1, label {
    color: white;
}